.dash-card{
    padding: 40px;
    background: #fff;
    /* border-radius: 40px; */
    width: 75%;
    height: 50%;
    margin: 90px;
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
  }

  .modal-card{
    padding: 40px;
    background: #fff;
    /* border-radius: 40px; */
    width: 80%;
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
  }

  .dash{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
      
  }
  

  .button{
      margin: 25px;
  }

  .modal-content{
      width: 100%;
  }

  table{
      width: 100%;
  }